{% extends 'base.html' %}

{% load static %}
{% block header %}
    <div class="public-header">
        <div class="nav-margin-container">
            <nav class="main-nav">
                
                <div class="nav-link-list">
                    <ul class="nav-links"> 
                        
                        {% block nav-links %}
                            
                        {% endblock nav-links %}
                            
                    </ul>
                </div>

                <div class="logo-container">
                    <a href="/" class="logo-link">
                        <img src="{% static 'images/logo.png' %}" alt="Willow Fairy Logo" class="main-logo">
                    </a>
                </div>

                <div class="secondary-nav">

                    <div class="product-action-container">
                        <form action="/search" method="GET" class="search-bar">
                            <div class="search-container">
                                <input type="text" name="q" placeholder="Search in the shop" aria-label="Search">
                                <button type="submit" title="Search" class="icon" aria-label="Shoping Cart">
                                    <img src="{% static 'images/search-symbol.svg' %}" class="icon-svg">
                                </button>
                            </div>
                        </form>

                        <button type="button" class="icon" aria-label="Shoping Cart">
                            <img src="{% static 'images/cart-symbol.svg' %}" class="icon-svg">
                        </button>
                    </div>

                    <div class="log-in-section">

                        {% if user.is_authenticated %}
                            <div class="login-container active"><p class="login">Hello,  {{user.username}}</p></div>
                            <div class="login-container"><a class="login" href="{% url 'accounts:logout' %}"> Logout</a></div>
                        {% else %}
                            <a class="login" href="{% url 'accounts:login' %}">Log In</a>
                        
                        {% endif %}
                        
                        
                    </div>

                </div>
            
            </nav>
        </div>
    </div>

{% endblock header %}
    