{% extends 'base.html' %}
{% load static %}



{% block header %}
    
<div class="public-login-navbar">
    <div class="public-login-navbar-container">
        
        <div class="logo-container">
            <a href="/" class="logo-link">
                <img src="{% static 'images/logo.png' %}" alt="Willow Fairy Logo" class="main-logo">
            </a>
        </div>

        <div class="signup-container">
            {% block sign-direction %}
            {% endblock sign-direction %}
        </div>
    </div>
</div>
   
{% endblock header %}
 

{% block content %}
    
{% endblock content %}
    