{% load static %}
                        <div class="nav-link-container active"><li><a href="{% url 'main:index' %}">HOME</a></li></div>
                        <div class="nav-link-container"><li><a href="/shop">SHOP</a></li></div>
                        <div class="nav-link-container"><li><a href="/news">NEWS</a></li></div>
                        <div class="nav-link-container"><li><a href="/commission">COMMISSION</a></li></div>
                        <div class="nav-link-container"><li><a href="/contact">CONTACT</a></li></div>