.round-pink-box{
    border: 4px solid var(--primary-color);
    height: 100px;
    width: 25vw;
    border-radius: 30px;

}

.round-pink-box-container{
    display: flex;
    justify-content: center;
}