
.public-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100vw;

    /* Sticky Logic */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures the header stays on top of other content */

    border-bottom: 3px dashed var(--primary-color);
    padding-bottom: 1%;
    overflow: visible;
}

.nav-margin-container{
    height: 100%;
    width: 100%;
    /*background-color: #e46b8c;*/
    background: linear-gradient(to right,
        var(--secondary-color),
        5%, 
        var(--primary-color),
        95%, 
        var(--secondary-color)
    );

    padding: 0 4%;
}

.main-nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link-list{
    flex: 1;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}


.nav-links a {
    font-family: 'MoreSugar';
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 20px;
}

.nav-link-container{
    border-radius: 20px;
    padding: 5px 10px;
    justify-content: center;
}

.nav-link-container.active {
    background-color: var(--contrast-color);
}

.nav-link-container.inactive{
    background-color: none;
}


.secondary-nav {
    flex: 1;
    display: flex;
    height: 100%;    
    width: 300px;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
}

.search-container {
    position: relative;
    width: 300px; /* Adjust width as needed */
}

.search-container input {
    width: 100%;
    padding: 10px 40px 10px 15px; /* Extra padding on the right for the icon */
    border: 1px solid var(--shadow-text-color);
    border-radius: 20px;
    outline: none;
}

.search-container button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    padding: 5px 10px;
}

.search-container button:hover {
    color: #000;
}

.product-action-container {
    display: flex;
}

.icon{
    width: 40px;
    height: 40px;

    background: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    overflow: hidden;
    border: none;
}
.icon-svg{
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
}

.sign-in{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 24px;
}
