{% extends 'public_login_base.html' %}


{% block sign-direction %}
    <div class="signup-text">
    <p class="signup">Already have an account?</p>
    <a class="signup link" href="{% url 'accounts:login' %}">LOGIN</a>
    </div>
{% endblock sign-direction %}
    


{% block content %}
    <div class="round-pink-box-container">
        <div class="round-pink-box">
            <h1 class="login-label h1">Registration</h1>

            <form class="login-form" action="{% url 'accounts:registration' %}" method="post">
                {% csrf_token %}
                <div class="registration-information-horizontal-container">
                <div class="registration-info-container">
                    <h3 class="registration-header">Account Details</h3>
                    {% for field in user_form %}
                        <div class="registration-container">
                            <label>{{field.label}}</label>
                            {{ field }}
                            {% if field.errors %}
                                <span class="error-text">{{field.error}}</span>
                        {% endif %}
                        </div>
                    {% endfor %}
                    
                </div>

                <div class="registration-info-container">
                    <h3 class="registration-header">Personal Info</h3>
                    {% for field in profile_form %}
                        <div class="registration-container">
                            <label>{{field.label}}</label>
                            {{ field }}
                            {% if field.errors %}
                                <span class="error-text">{{field.error}}</span>
                        {% endif %}
                        </div>
                    {% endfor %}
                    <div class="error-message-container">
                        {% for field in user_form %}
                            {% for error in field.errors %}
                                <p class="error-text">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}

                        {% for field in profile_form %}
                            {% for error in field.errors %}
                                <p class="error-text">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
                <button class="btn-signup "type="submit" name="action" value="REGISTER">Sign Up</button>



            </form>
        </div>
    </div>
{% endblock content %}
    
